{% extends 'base/base.html'%}

{% block content  %}

    <h1 class="text-3xl self-start mb-4"> Cursos </h1>

    <table class="w-[100%] table-auto border-collapse border border-slate-400">
        <thead>
            <tr> 
                <th class="border border-lime-700 p-4 bg-lime-700 text-white"> ID </th>
                <th class="border border-lime-700 p-4 bg-lime-700 text-white"> Curso </th>
                <th class="border border-lime-700 p-4 bg-lime-700 text-white"> Categoria </th>
            </tr>
        </thead>
        <tbody>
            {% for c in cursos %}
                <tr class="hover:bg-zinc-300 transition">
                    <td class="border border-zinc-300 p-4"> {{ c.id }} </td>
                    <td class="border border-zinc-300 p-4"> {{ c.nome }} </td>
                    <td class="border border-zinc-300 p-4"> {{ c.categoria.descricao }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}